<mtapp:setting
    id="settings"
    hint="Mail address for posting"
    show_hint="1"
    label="<__trans phrase="Settings">">
<textarea name="settings" cols="60" rows="5"><TMPL_VAR NAME=SETTINGS ESCAPE=HTML></textarea>
</mtapp:setting>
